.container-main {
    max-width: 800px;
    padding: 0 50px;
    margin: 0 auto;
}

.post-title {
    margin-bottom: 80px;
}

.details,
.post-img,
.post-text,
.paragraph-title {
    margin-bottom: 50px;
    justify-content: space-between;
}

.post-img img {
    border-radius: 10px;
}

.details-info,
.details-edit {
    gap: 20px;
    align-items: center;
}

.share {
    padding: 10px 15px;
    background-color: #4B6BFB;
    border-radius: 6px;
}

.main-text {
    line-height: 30px;
}